@charset "utf-8";

form{
  width: 500px;
  margin: auto;
}

textarea, input{
  font-family: Arial, sans-serif;
  font-size: 13pt;
  color: #606060;
  font-weight: normal;
  background-color: rgba(255,255,255,.7);
}

textarea:hover, input:hover{
  background-color: #dddddd;
}

legend{
  font-size: 13pt;
  font-weight: bold;
  color: #888888;
  font-family: sans-serif;
}

fieldset{
  border-color: #cecece;
  margin: 20px;
}

fieldset#sexo{
  width: 150px;
}

fieldset#usuario{
  background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco{
  background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem{
  background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pagamento{
  background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}
